<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazona</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
</head>

<body>
    <div class="grid-container">
        <header class="row">
            <div>
                <a href="" class="brand">amazona</a>
            </div>
            <div class="right">
                <a href="">Cart</a>
                <a href="">Sing In</a>
            </div>
        </header>
        <main>
            <div class="row center">
                <div class="card">
                    <a href="">
                        <img src="images/p1.jpg" alt="product" class="medium">
                    </a>
                    <div class="card-body">
                        <a href="">
                            <h2>Nike Slime Shirte</h2>
                        </a>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <span>$ 120</span>
                    </div>
                </div>
                <div class="card">
                    <a href="">
                        <img src="images/p1.jpg" alt="product" class="medium">
                    </a>
                    <div class="card-body">
                        <a href="">
                            <h2>Nike Slime Shirte</h2>
                        </a>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <span>$ 120</span>
                    </div>
                </div>
                <div class="card">
                    <a href="">
                        <img src="images/p1.jpg" alt="product" class="medium">
                    </a>
                    <div class="card-body">
                        <a href="">
                            <h2>Nike Slime Shirte</h2>
                        </a>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <span>$ 120</span>
                    </div>
                </div>
                <div class="card">
                    <a href="">
                        <img src="images/p1.jpg" alt="product" class="medium">
                    </a>
                    <div class="card-body">
                        <a href="">
                            <h2>Nike Slime Shirte</h2>
                        </a>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <span>$ 120</span>
                    </div>
                </div>
                <div class="card">
                    <a href="">
                        <img src="images/p1.jpg" alt="product" class="medium">
                    </a>
                    <div class="card-body">
                        <a href="">
                            <h2>Nike Slime Shirte</h2>
                        </a>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <span>$ 120</span>
                    </div>
                </div>
                <div class="card">
                    <a href="">
                        <img src="images/p1.jpg" alt="product" class="medium">
                    </a>
                    <div class="card-body">
                        <a href="">
                            <h2>Nike Slime Shirte</h2>
                        </a>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <span>$ 120</span>
                    </div>
                </div>
            </div>
        </main>
        <footer class="row center">
            All right reserved
        </footer>
    </div>
</body>

</html>